<!--
Author: WebThemez
Author URL: http://webthemez.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="free-educational-responsive-web-template-webEdu">
	<meta name="author" content="webThemez.com">
	<title>Nkhoma University - Contact Us</title>
	<link rel="favicon" href="../assets/images/favicon.png">
	<link rel="stylesheet" media="screen" href="../assets/stylesheets/fonts.css">
	<link rel="stylesheet" href="../assets/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/stylesheets/font-awesome.min.css">
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="../assets/stylesheets/bootstrap-theme.css" media="screen">
	<link rel="stylesheet" href="../assets/stylesheets/style.css">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse2">
        <div class="">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="../index.html">
                    <img src="../assets/images/logo.jpg" width="35%" alt="Nkhoma University" style="paddig: 0px;"></a> <font style="color: white; valign: bottom; font-size: 20px;"> <b> NKHOMA UNIVERSITY </b></font>
            </div>
            <div class="">
                <ul class="nav navbar-nav pull-right mainNav">

                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <!-- Button for smallest screens -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a class="navbar-brand" href="../index.html">
          <img src="" alt=""></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right mainNav">
          <li><a href="../index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="courses.html">Courses</a></li>
          <li><a href="events.html">Events and Dates</a></li>
          <li><a href="gallery.html">Gallery</a></li>
          <li class="active"><a href="contact.html">Contact</a></li>

        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>

		<header id="head" class="secondary">
            <div class="container">
                    <h1>Contact Us</h1>
                    <p> </p>
                </div>
    </header>


	<!-- container -->
	<div class="container">
				<div class="row">
					<div class="col-md-8">
						<h3 class="section-title" style="color: #3d84e6">Location:</h3>
						<p>
						The university is located in Lilongwe, Malawi at area 3 Nkhoma synod offices, 500m from Korean Garden Lodge.
						</p>

						<form class="form-light mt-20" role="form">
							<div class="form-group">
								<label>Name</label>
								<input type="text" class="form-control" placeholder="Your name">
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Email</label>
										<input type="email" class="form-control" placeholder="Email address">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Phone</label>
										<input type="text" class="form-control" placeholder="Phone number">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label>Subject</label>
								<input type="text" class="form-control" placeholder="Subject">
							</div>
							<div class="form-group">
								<label>Message</label>
								<textarea class="form-control" id="message" placeholder="Write you message here..." style="height:100px;"></textarea>
							</div>
							<button type="submit" class="btn btn-two">Send message</button><p><br/></p>
						</form>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-6">
								<h3 class="section-title" style="color: #3d84e6">Office Address</h3>
								<div class="contact-info">
									<h5>Address</h5>
									<p>Nkhoma University
                P.O. Box 136, Lilongwe, Malaw</p>

									<h5>Email</h5>
									<p>nkhomauni@nkhoma.ac.mw</p>

									<h5>Phone</h5>
									<p>01548356</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	<!-- /container -->

	 <footer id="footer">

    <div class="container">
   <div class="row">
  <div class="footerbottom">
    <div class="col-md-3 col-sm-6">
      <div class="footerwidget">
        <h4>
         <font > <strong> Nkhoma University </strong></font>
        </h4>
        <div class="menu-course">
          <ul class="menu">
            <li><a href="#">
                 P.O. Box 136
              </a>
            </li>
            <li><a href="#">
                Lilongwe
              </a>
            </li>
            <li><a href="#">
                Malawi
              </a>
            </li>
            <li><a href="#">
              <i class="fa fa-phone"> Telephone: +265(0)997 957 804 </i>
              </a>
            </li>
            <li><a href="#">
               <i class="fa fa-envelope-o"> Email: nkhomauni@nkhoma.ac.mw  </i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="footerwidget">
        <h4>
         <strong> Places </strong>
        </h4>
        <div class="menu-course">
          <ul class="menu">
            <li> <a href="#">
                University Offices - Lilongwe  </a>
            </li>
            <li><a href="#">
                Lilongwe CCAP Campus
              </a>
            </li>
            <li><a href="#">
                Nkhoma JMTI Campus
              </a>
            </li>
            <li><a href="#">
                Staff Gallery
              </a>
            </li>
            <li><a href="#">
                Student Gallery
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="footerwidget">
        <h4>
         <strong> Course Categories </strong>
        </h4>
        <div class="menu-course">
          <ul class="menu">
            <li><a href="courses.html">
                All Courses
              </a>
            </li>
            <li> <a href="#">
                Education
              </a>
            </li>
            <li><a href="#">
                Commerce
              </a>
            </li>
            <li>
              <a href="#">
               Nursing and MidWifery
              </a>
            </li>
            <li>
              <a href="#">
               Theology
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
              <div class="footerwidget">
                         <h4> <strong> Students </strong> </h4>
                        <div class="menu-course">
          <ul class="menu">
            <li><a href="#">
               Student Accomodation
              </a>
            </li>
            <li> <a href="#">
                Student Activities
              </a>
            </li>
            <li><a href="#">
                Student Spiritual Life
              </a>
            </li>
            <li>
              <a href="#">
               Student Portal
              </a>
            </li>
            <li>
              <a href="#">
              New Students
              </a>
            </li>
          </ul>
        </div>
              </div>
                </div><!-- end widget -->
    </div>
  </div>
</div>
      <div class="social text-center">
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="https://web.facebook.com/groups/691656820899310/" target="_blank"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>

      </div>

      <div class="clear"></div>
      <!--CLEAR FLOATS-->
    </div>
    <div class="footer2">
      <div class="container">
        <div class="row">

          <div class="col-md-6 panel">
            <div class="panel-body">
              <p class="simplenav">
								<a href="../index.html">Home</a> |
								<a href="about.html">About</a> |
								<a href="courses.html">Courses</a> |
								<a href="events.html">Events and Dates</a> |
								<a href="gallery.html">Gallery</a> |
								<a href="contact.html">Contact</a>
              </p>
            </div>
          </div>

          <div class="col-md-6 panel">
            <div class="panel-body">
              <p class="text-right">
                Copyright &copy; 2016. <a href="http://www.nkhoma.ac.mw/" > Nkhoma University</a>
              </p>
            </div>
          </div>

        </div>
        <!-- /row of panels -->
      </div>
    </div>
  </footer>


	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="../assets/javascripts/jquery.min.js"></script>
	<script src="../assets/javascripts/bootstrap.min.js"></script>
	<script src="../assets/javascripts/custom.js"></script>

	<!-- Google Maps -->
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<script src="../assets/javascripts/google-map.js"></script>


</body>
</html>
