<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="free-educational-responsive-web-template-webEdu">
	<meta name="author" content="webThemez.com">
	<title>Nkhoma University - Events and Dates</title>
	<link rel="favicon" href="../assets/images/favicon.png">
	<link rel="stylesheet" media="screen" href="../assets/stylesheets/fonts.css">
	<link rel="stylesheet" href="../assets/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/stylesheets/font-awesome.min.css">
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="../assets/stylesheets/bootstrap-theme.css" media="screen">
	<link rel="stylesheet" type="text/css" href="../assets/stylesheets/isotope.css" media="screen" />
	<link rel="stylesheet" href="../assets/stylesheets/style.css">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse2">
        <div class="">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="../index.html">
                    <img src="../assets/images/logo.jpg" width="35%" alt="Nkhoma University" style="paddig: 0px;"></a> <font style="color: white; valign: bottom; font-size: 20px;"> <b> NKHOMA UNIVERSITY </b></font>
            </div>
            <div class="">
                <ul class="nav navbar-nav pull-right mainNav">


                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <!-- Button for smallest screens -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a class="navbar-brand" href="../index.html">
          <img src="" alt=""></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right mainNav">
          <li><a href="/">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="courses.html">Courses</a></li>
          <li class="active"><a href="events.html">Events and Dates</a></li>
          <li><a href="gallery.html">Gallery</a></li>
          <li><a href="contact.html">Contact</a></li>

        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>

		<header id="head" class="secondary">
            <div class="container">
                    <h1>Events and Dates</h1>
                    <p>Nkhoma University Events and their associated Dates</p>
                </div>
    </header>


	<!-- container -->
	<div class="container">

		<p class="title"><h4 style="color: #3d84e6"> <strong> 2016/2017 Academic Year </strong> </h4></p>
	<hr>
		<p> The 2016/2017 academic year opened on August 8, 2016.</p>

		<div class="row flat">
			<div class="col-lg-6 col-md-6 col-xs-6">
				<ul class="plan plan4">
					<li class="plan-name">August 2016 - December 2016 Semester
					</li>
					<li style="align: left;">
					<td><strong> 07/08/2016 </strong></td>
					<td>Arrival of Students</td>
						 
					</li>
					<li>
						<strong>08/08/2016</strong> Registration of students
					</li>
					<li>
						<strong>09/08/2016</strong> Registration of students
					</li>
					<li>
						<strong>10/08/2016</strong> Registration of students
					</li>
					<li>
						<strong>11/08/2016</strong> Orientation of Generic students
					</li>
					<li>
						<strong>12/08/2016</strong> Orientation of Generic students
					</li>
					
				</ul>
			</div>
		</div>

		<div class="row">
			<!-- Article content -->
			<section class="col-sm-12 maincontent">

				<p>

				</p>

			</section>
		</div>
	</div>
	<!-- /container -->
<!--
	<section class="container">
		<div class="heading">

			<h3>2016 Academic Calendar</h3>

			<p>Dates of academic events</p>
			<br />
		</div>
		<div class="row flat">
			<div class="col-lg-3 col-md-3 col-xs-6">
				<ul class="plan plan1">
					<li class="plan-name">Basic
					</li>
					<li class="plan-price">
						<strong>$29</strong> Fee
					</li>
					<li>
						<strong>08</strong> Responsive
					</li>
					<li>
						<strong>12</strong> HTML5/CSS
					</li>
					<li>
						<strong>15</strong> Flex
					</li>
					<li>
						<strong>10</strong> Mobile App
					</li>
					<li>
						<strong>Live</strong> Demo
					</li>
					<li class="plan-action">
						<a href="#" class="btn">Signup</a>
					</li>
				</ul>
			</div>



			<div class="col-lg-3 col-md-3 col-xs-6">
				<ul class="plan plan3">
					<li class="plan-name">Advanced
					</li>
					<li class="plan-price">
						<strong>$79</strong> Fee
					</li>
					<li>
						<strong>08</strong> Responsive
					</li>
					<li>
						<strong>12</strong> HTML5/CSS
					</li>
					<li>
						<strong>15</strong> Flex
					</li>
					<li>
						<strong>10</strong> Mobile App
					</li>
					<li>
						<strong>Live</strong> Demo
					</li>
					<li class="plan-action">
						<a href="#" class="btn">Signup</a>
					</li>
				</ul>
			</div>

			<div class="col-lg-3 col-md-3 col-xs-6">
				<ul class="plan plan4">
					<li class="plan-name">Mighty
					</li>
					<li class="plan-price">
						<strong>$109</strong> Fee
					</li>
					<li>
						<strong>08</strong> Responsive
					</li>
					<li>
						<strong>12</strong> HTML5/CSS
					</li>
					<li>
						<strong>15</strong> Flex
					</li>
					<li>
						<strong>10</strong> Mobile App
					</li>
					<li>
						<strong>Live</strong> Demo
					</li>
					<li class="plan-action">
						<a href="#" class="btn">Signup</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
-->
 <footer id="footer">

		<div class="container">
   <div class="row">
  <div class="footerbottom">
    <div class="col-md-3 col-sm-6">
      <div class="footerwidget">
        <h4>
         <font > <strong> Nkhoma University </strong></font>
        </h4>
        <div class="menu-course">
          <ul class="menu">
            <li><a href="#">
                 P.O. Box 136
              </a>
            </li>
            <li><a href="#">
                Lilongwe
              </a>
            </li>
            <li><a href="#">
                Malawi
              </a>
            </li>
            <li><a href="#">
              <i class="fa fa-phone"> Telephone: +265(0)997 957 804 </i>
              </a>
            </li>
            <li><a href="#">
               <i class="fa fa-envelope-o"> Email: nkhomauni@nkhoma.ac.mw  </i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="footerwidget">
        <h4>
         <strong> Places </strong>
        </h4>
        <div class="menu-course">
          <ul class="menu">
            <li> <a href="#">
                University Offices - Lilongwe  </a>
            </li>
            <li><a href="#">
                Lilongwe CCAP Campus
              </a>
            </li>
            <li><a href="#">
                Nkhoma JMTI Campus
              </a>
            </li>
            <li><a href="#">
                Staff Gallery
              </a>
            </li>
            <li><a href="#">
                Student Gallery
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="footerwidget">
        <h4>
         <strong> Course Categories </strong>
        </h4>
        <div class="menu-course">
          <ul class="menu">
            <li><a href="courses.html">
                All Courses
              </a>
            </li>
            <li> <a href="#">
                Education
              </a>
            </li>
            <li><a href="#">
                Commerce
              </a>
            </li>
            <li>
              <a href="#">
               Nursing and MidWifery
              </a>
            </li>
            <li>
              <a href="#">
               Theology
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
            	<div class="footerwidget">
                         <h4> <strong> Students </strong> </h4>
                        <div class="menu-course">
          <ul class="menu">
            <li><a href="#">
               Student Accomodation
              </a>
            </li>
            <li> <a href="#">
                Student Activities
              </a>
            </li>
            <li><a href="#">
                Student Spiritual Life
              </a>
            </li>
            <li>
              <a href="#">
               Student Portal
              </a>
            </li>
            <li>
              <a href="#">
              New Students
              </a>
            </li>
          </ul>
        </div>
              </div>
                </div><!-- end widget -->
    </div>
  </div>
</div>
			<div class="social text-center">
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="https://web.facebook.com/groups/691656820899310/" target="_blank"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
			</div>

			<div class="clear"></div>
			<!--CLEAR FLOATS-->
		</div>
		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 panel">
						<div class="panel-body">
							<p class="simplenav">
								<a href="../index.html">Home</a> |
								<a href="about.html">About</a> |
								<a href="courses.html">Courses</a> |
								<a href="events.html">Events and Dates</a> |
								<a href="gallery.html">Gallery</a> |
								<a href="contact.html">Contact</a>
							</p>
						</div>
					</div>

					<div class="col-md-6 panel">
						<div class="panel-body">
							<p class="text-right">
								Copyright &copy; 2016. <a href="http://www.nkhoma.ac.mw/" > Nkhoma University</a>
							</p>
						</div>
					</div>

				</div>
				<!-- /row of panels -->
			</div>
		</div>
	</footer>

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="../assets/javascripts/jquery.min.js"></script>
	<script src="../assets/javascripts/bootstrap.min.js"></script>
	<script src="../assets/javascripts/custom.js"></script>
</body>
</html>
